html{
    scroll-behavior: smooth;
}

.start{
    height: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8) !important;
}

.icons{
    display: flex;
    justify-content: space-evenly;
}

.start .icons i{
    font-size: 65px;
}

.start .icons i:nth-child(1){
    color: #4267B2;
}

.start .icons i:nth-child(2){
    color: #9147FF;
}

.start .icons i:nth-child(3){
    color: #FF0000;
}

.start .icons i:nth-child(4){
    color: #1DA1F2;
}

nav ul a:hover{
    color: #1C7ED4;
}

.slider .indicators{
    display: none;
}

.slider{
    height: 600px !important;
}
.slider .slides{
    height: 100% !important;
}

.carousel{
    height: 700px !important;
}

.autocomplete{
    padding-left: 20px !important;
}

.materialboxed{
    margin: 10px 0 !important;
}

.round{
    display: flex;
    justify-content: center;
}

.round div{
    border: 1px solid #fff;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.round i{
    font-size: 85px;
}

.facts{
    background: rgba(0,0,0,0.8) !important;
    height: 100%;
}

.facts h2{
    margin: 0 !important;
    padding: 50px 0;
}

.reviews{
    margin: 50px 0 !important;
}

.crop{
    width: 70%;
    height: 70%;
}

.tabs .tab a:hover, .tabs .tab a.active{
    color: #2196F3;
}

.tabs .tab a:focus, .tabs .tab a:focus.active{
    background-color: rgba(33,150,243,0.2);
}

.tabs .indicator{
    background-color: #2196F3;
}

.tabs .tab a{
    color: rgba(33,150,243,0.7);
}

@media screen and (max-width: 992px){
    .round div{
        height: 70px;
        width: 70px;
    }
    .round i{
        font-size: 50px;
    }
}
